/* The Grid Container */
.grid-container {
  background-color: #ff7052;

  /*-*-*-*-*-*-*-* initiating a grid layout *-*-*-*-*-*-*-*/
  display: grid;

  grid-template-columns: 150px 150px 150px 150px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 150px 150px 150px;

  /*--++--**--++--**--++--* ^^^^@@ "The Grid Container Properties" @@^^^^ *--++--**--++--**--++--**/

  /***--**--**--** Grid Column Gap Property ***--**--**--**-------------------+-+-+-+-+-+-+-+-+-*/

  /* Property Values can be:
                            (lenghts, percentages, viewport units) */


  /* Standard Syntax */
  /* column-gap: 10px; */
  /* column-gap: 1.5rem; */
  /* column-gap: 7vw; */
  /* column-gap: 5%; */

  /***--**--**--** Grid Row Gap Property ***--**--**--**-------------------+-+-+-+-+-+-+-+-+-*/

  /* Property Values can be:
                            (lenghts, percentages, viewport units) */


  /* Standard Syntax */
  /* row-gap: 10px; */
  /* row-gap: 1.5rem; */
  /* row-gap: 7vw; */
  /* row-gap: 5%; */

 

  /***--**--**--** Grid Gap Property (Shorthand for grid-column-gap and grid-row-gap) ***/

  /* Property Values can be:
                            <grid-row-gap> <grid-column-gap> */

  

  /* Standard Syntax */
  /* gap: 15px 25px; */
  /* gap: 10% 15%; */
  /* gap: 5vh 15vw; */
  /* gap: 25px 10rem; */
  /* gap: 50px; */
  /* gap: 1rem 0.5rem;*/
}

/* The Grid Items */
.item {
  background-color: #fcc006;
}
