/*Móvil*/

@media screen and (max-width: 568px) {
    .promo_container {
        display: flex;
        flex-direction: column;
    }

    nav {
        display: flex;
        flex-direction: column;
    }

    article {
        border-bottom: solid 1px;
    }
    .promo_uno {
        border-bottom: solid 1px;


    }

    .promo_dos {
        border-bottom: solid 1px;


    }

    .promo_tres {
        border-bottom: solid 1px;
        margin-bottom: 10px ;

    }
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 100px;
        background-color: rgb(41, 40, 40);
      }

      li a {
        display: block;
        padding: 8px 16px;
        text-decoration: none;
      }

      li a:hover {
        background-color: #555;
        color: white;
      }
}

/*PC-Tablet*/

@media screen and (min-width: 569px) {
    .promo_container {
        display: flex;
        flex-direction: row;
    }

    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color:  rgb(41, 40, 40);
        ;
    }

    li {
        float: left;
    }


    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    li a:hover {
        background-color: #111;
    }

    .promo_uno {
        padding-bottom:10px ;


    }

    .promo_dos {
        padding-bottom:10px ;


    }

    .promo_tres {
        padding-bottom:10px ;

    }
}


nav {
    color: white;
    background-color: rgb(41, 40, 40);

}

a { color: white;
    text-decoration: none;
}

body {
    text-align: center;
    background-color: rgb(235, 235, 235);
    font-family: arial;

}



.promo_uno {
    text-align: left;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;

}

.promo_dos {
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;

}

.promo_tres {
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;

}
